# Node
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
.AppleDouble
.LSOverride

# macOS metadata
Icon?
._*
.Spotlight-V100
.Trashes
.fseventsd

# VSCode
.vscode/

# Env
.env
.env.*

# Others
*.local
*.crx
*.pem
